<span>
    <a href="{{ site.url }}" style="cursor: default;"><img id="lilpic" src="assets/images/lilben.jpg" title="Hi, I'm Ben!"></img></a>
</span>
<span>
<h1><a href="{{ site.url }}"><span id="underline">bccodes</span><span id="slash">/</span><span id="underline">blo</span>g</a></h1>
<h2>roborts<span id="dot">.</span></h2>
</span>
<span id="menuicon">
    
    <a href="http://github.com/bccodes"><i class="fab fa-github fa-xs" title="GitHub" id="gh-icon"></i></a>
    <a href="https://www.instagram.com/bc_worth/"><i class="fab fa-instagram fa-xs" title="Instagram" id="ig-icon"></i></a>
    <a href="https://soundcloud.com/bencolin"><i class="fab fa-soundcloud fa-xs" title="SoundCloud" id="sc-icon"></i></a>
</span>
