body {
    margin: 0;
    color: #eeeeee;
    background-color: black;
    background-image: linear-gradient(170deg, black, #222233);
    background-attachment: fixed;
    font-family: 'Cascadia Mono', monospace;
}

#topbar {
    cursor: default;
    padding: 1ex 5vw 1ex 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-shadow: 2px 2px black;


    h1 {
        font-size: 50px;
        padding-top: 20px;
        color: white;
        transition-duration: 3.2s;

    }

    h2 {
        color: gray;
        margin-top: -1ex;
        font-style: italic;
    }

    span {
        margin-top: auto;
        margin-bottom: auto;
    }

    a {
        cursor: pointer;
        color: #eeeeee;
        text-decoration: none;
    }

    #underline {
        text-decoration: underline 8px rgba(128, 128, 128, 0);
        text-underline-offset: 6px;
        transition-duration: 3.2s;
    }

    h1:hover #underline {
        text-decoration: underline 8px rgba(128, 128, 128, 0.6);
        transition-duration: 0.2s;
    }

    #lilpic {
        height: 64px;
        width: 64px;
        background-color: gray;
        border-radius: 100%;
        box-shadow: 0px 0px 0px 2px black;
    }

    #slash {
        color: rgb(240, 60, 10);
        transition-duration: 10s;
    }

    h1:hover #slash {
        color: rgb(255, 85, 45);
        transition-duration: 0.0s;
    }

    #dot {
        font-style: normal;
        color: turquoise;
    }

    #dot:hover:before {
        margin-left: 12px;
        content: "";
    }

    #menuicon {
        font-size: 45px;
        font-weight: lighter;
        white-space: nowrap;
    }

    #gh-icon,
    #ig-icon,
    #sc-icon {
        text-decoration: underline 4px rgba(0, 0, 0, 0);
    }

    #gh-icon:hover {
        text-decoration: underline 4px red;
        text-underline-offset: 8px;
        text-shadow: 0 0 48px #ff0000;
        transition-duration: 0.2s;

    }

    #ig-icon:hover {
        text-decoration: underline 4px #ff4fe2;
        text-underline-offset: 8px;
        text-shadow: 0 0 48px #ff4fe2;
        transition-duration: 0.2s;

    }

    #sc-icon:hover {
        text-decoration: underline 4px #ff8a2b;
        text-underline-offset: 8px;
        text-shadow: 0 0 48px #ff8a2b;
        transition-duration: 0.2s;

    }
}

#postlist {
    margin: 1em 5vw 1em 5vw;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.postcard {
    max-width: 1024px;
    width: 100%;
    background-color: #1c1c1c;
    border: solid 1px #111111;
    border-bottom: solid 2px #111111;
    border-radius: 5px;
    margin: auto;
    padding: 1em;
    flex-direction: column;
    box-shadow: -16px -16px 48px #00000033 inset;

    .topstuff {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .posttitle {
            font-size: x-large;
            font-weight: bolder;

            a {
                color: #eeeeee;
                text-decoration-color: rgb(255, 235, 0);
                text-decoration-thickness: 3px;
            }

            a:visited {
                text-decoration-color: rgb(255, 235, 0);
            }
        }

        .date {
            font-style: italic;
            font-size: smaller;
            color: gray;
            cursor: default;
        }

        .date:hover {
            color: yellowgreen;
        }
    }

    .content {
        padding: 0.75em;
        padding-left: 1em;
        color: #cccccc;

        img {
            display: flex;
            margin: auto;
            max-width: 90%;
            height: auto;
        }
    }

    .tags {
        color: gray;

        a {
            text-decoration-style: none;
            text-decoration-color: transparent;
            color: gray;
        }

        a:hover {
            text-decoration-style: underline;
            text-decoration-color: yellow;
            text-decoration-thickness: 3px;
        }
    }

    .tags:hover {
        text-decoration-style: underline;
        text-decoration-color: yellow;
        text-decoration-thickness: 3px;
    }
}

#footer {
    color: gray;
    text-align: center;
    padding-bottom: 1ex;
}

@media only screen and (max-width: 575px) {

    #postlist {
        margin-left: 0px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 640px) {
    #topbar {
        padding-left: 5vw;
        padding-right: 5vw;

        h1 {
            font-size: x-large;
        }

        h2 {
            font-size: large;
        }

        #lilpic {
            width: 50px;
            height: 50px;
        }
    }


}