body {
    margin: 0;
    color: #eeeeee;
    background-color: black;
    background-image: linear-gradient(170deg, black, #222233);
    background-attachment: fixed;
    font-family: 'Cascadia Mono', monospace;
}

.popup {
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
}

.popup img {
    max-width: 90%;
    max-height: 90%;
}

.popup:target {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

#topbar {
    cursor: default;
    padding: 1ex 5vw 1ex 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-shadow: 2px 2px black;

    h1 {
        font-size: 50px;
        padding-top: 20px;
        color: white;
        transition-duration: 0.2s;
    }

    h2 {
        color: gray;
        margin-top: -1ex;
        font-style: italic;
    }

    span {
        margin-top: auto;
        margin-bottom: auto;
    }

    a {
        cursor: pointer;
        color: #eeeeee;
        text-decoration: none;
    }

    #underline {
        text-decoration: underline 8px rgba(128, 128, 128, 0);
        text-underline-offset: 6px;
        transition-duration: 0.2s;
    }

    h1:hover #underline {
        text-decoration: underline 8px rgba(128, 128, 128, 0.6);
        transition-duration: 0.2s;
    }

    #lilpic {
        height: 64px;
        width: 64px;
        background-color: gray;
        border-radius: 100%;
        cursor: zoom-in;
        transition: transform 0.2s;
    }

    #lilpic:hover {
        transform: scale(1.05);
        box-shadow: 0 0 24px black;
    }

    #slash {
        color: rgb(240, 60, 10);
        transition-duration: 0.2s;
    }

    h1:hover #slash {
        color: rgb(255, 85, 45);
        transition-duration: 0.2s;
    }

    #dot {
        font-style: normal;
        color: turquoise;
        transition: margin-left 0.4s;
    }

    #dot:hover:before {
        margin-left: 12px;
        content: "";
    }

    #menuicon {
        font-size: 45px;
        font-weight: lighter;
    }

    #gh-icon,
    #ig-icon,
    #sc-icon {
        text-decoration: underline 4px rgba(0, 0, 0, 0);
    }

    #gh-icon:hover {
        text-decoration: underline 4px red;
        text-underline-offset: 8px;
        text-shadow: 0 0 48px #ff0000;
        transition-duration: 0.2s;
    }

    #ig-icon:hover {
        text-decoration: underline 4px #ff4fe2;
        text-underline-offset: 8px;
        text-shadow: 0 0 48px #ff4fe2;
        transition-duration: 0.2s;
    }

    #sc-icon:hover {
        text-decoration: underline 4px #ff8a2b;
        text-underline-offset: 8px;
        text-shadow: 0 0 48px #ff8a2b;
        transition-duration: 0.2s;
    }
}

#postlist {
    padding: 1em 5vw 1em 5vw;
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: calc(100% - 10vw);
    /* Adjust the width to leave space for padding */
    margin: 0 5vw;
    /* Add margin to match topbar's padding */
}

.postcard {
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    backdrop-filter: blur(10px) saturate(180%);
    max-width: 1024px;
    width: calc(100% - 2em);
    /* Adjusted to account for padding */
    background-color: #1c1c1c77;
    border: solid 1px #11111177;
    border-bottom: solid 2px #11111177;
    border-radius: 5px;
    margin: auto;
    padding: 1em;
    flex-direction: column;
    box-shadow: -16px -16px 48px #00000033 inset;

    .topstuff {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .posttitle {
            font-size: x-large;
            font-weight: bolder;

            a {
                color: #eeeeee;
                text-decoration-color: rgb(255, 235, 0);
                text-decoration-thickness: 3px;
            }

            a:visited {
                text-decoration-color: rgb(255, 235, 0);
            }
        }

        .date {
            font-style: italic;
            font-size: smaller;
            color: gray;
            cursor: default;
        }

        .date:hover {
            color: yellowgreen;
        }
    }

    .content {
        padding: 0.75em;
        padding-left: 1em;
        color: #cccccc;

        img {
            display: flex;
            margin: auto;
            max-width: 95%;
            height: auto;
            padding: 4px;
        }
    }

    .tags {
        color: gray;

        a {
            text-decoration-style: none;
            text-decoration-color: transparent;
            color: gray;
        }

        a:hover {
            text-decoration-style: underline;
            text-decoration-color: yellow;
            text-decoration-thickness: 3px;
        }
    }

    .tags:hover {
        text-decoration-style: underline;
        text-decoration-color: yellow;
        text-decoration-thickness: 3px;
    }
}

#footer {
    color: gray;
    text-align: center;
    padding-bottom: 1ex;
}

@media only screen and (max-width: 575px) {
    #postlist {
        margin-left: 0;
        padding: 1em 2vw 1em 2vw;

    }

    .postcard {
        width: 100%;
        /* Full width on smaller screens */
        margin: 0 auto;
        /* Center postcards */
    }

    #topbar {
        padding-left: 3vw;
        padding-right: 3vw;

        h1 {
            font-size: x-large;
        }

        h2 {
            font-size: large;
        }

        #lilpic {
            width: 32px;
            height: 32px;
        }

        #menuicon {
            width: 25px;
        }

        #menuicon,
        #gh-icon,
        #ig-icon,
        #sc-icon {
            font-size: 25px;
        }

        i {
            margin-top: 8px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
    #postlist {
        margin-left: 20px;
        /* Adjust margin as needed */
    }

    .postcard {
        max-width: 1024px;
        /* Limit postcard width */
        width: calc(100% - 2em);
        /* Adjusted to account for padding */
        margin: 0 auto;
        /* Center postcards */
    }

    #topbar {
        padding-left: 2vw;
        padding-right: 2vw;

        h1 {
            font-size: xx-large;
        }

        h2 {
            font-size: x-large;
        }
    }
}