body {
    margin: 0;
    color: #eeeeee;
    background-color: black;
    background-image: linear-gradient(170deg, black, #222233);
    background-attachment: fixed;
    font-family: 'Cascadia Mono', monospace;
}

#topbar {
    cursor: default;
    padding: 1ex 10vw 1ex 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
        font-size: 50px;
    }

    h2 {
        color: gray;
    }

    span {
        margin-top: auto;
        margin-bottom: auto;
    }

    a {
        cursor: pointer;
        color: #eeeeee;
        text-decoration: none;
    }

    #lilpic {
        height: 64px;
        width: 64px;
        background-color: gray;
        border-radius: 100%;
    }

    #slash {
        color: rgb(240, 60, 10);
    }

    #menuicon {
        font-size: 45px;
        font-weight: lighter;
    }
}

#postlist {
    margin: 5vh 5vw 5vh 5vw;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.postcard {
    max-width: 1024px;
    background-color: #1c1c1c;
    border: solid 1px #111111;
    border-bottom: solid 2px #111111;
    border-radius: 5px;
    margin: auto;
    padding: 0.5em;
    flex-direction: column;
    box-shadow: -16px -16px 48px #00000033 inset;

    .topstuff {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .posttitle {
            font-size: x-large;
            font-weight: bolder;

            a {
                color: #eeeeee;
                text-decoration-color: yellow;
                text-decoration-thickness: 3px;
            }

            a:visited {
                text-decoration-color: rgb(255, 67, 255);
            }
        }

        .date {
            font-style: italic;
            font-size: smaller;
            color: gray;
            cursor: default;
        }
    }

    .content {
        padding: 0.75em;
        padding-left: 1em;
        color: #cccccc;


    }

    .tags {
        color: gray;

        a {
            text-decoration-style: none;
            text-decoration-color: transparent;
            color: gray;
        }
        a:hover {
            text-decoration-style: underline;
            text-decoration-color: yellow;
            text-decoration-thickness: 3px;
        }
    }

}

#footer {
    color: gray;
    text-align: center;
    padding-bottom: 4px;
}


@media only screen and (max-width: 600px) {
    #topbar {
        padding-left: 5vw;
        padding-right: 5vw;

        h1 {
            font-size: x-large;
        }

        h2 {
            font-size: large;
        }

        #lilpic {
            width: 50px;
            height: 50px;
        }
    }

    #postview {
        margin-left: 10px;
        margin-right: 10px;
    }
}